**
!Dockerfile
!.dockerignore
!package.json
!package-lock.json
!pyproject.toml
!uv.lock
!client/**
!data/**
!yaml/test-data/**
!server/**
!shared/**
!scripts/**
!tests/**
!docs/licenses/**
!docs/*.md
!docs/releases/**
!.github/workflows/**
!config/github-protection.json
!README.md
!LICENSE
!NOTICE
!playwright.config.mjs
!playwright.matrix.config.mjs
!playwright.demo.config.mjs
**/__pycache__/**
**/*.pyc
**/.env
**/*.log
