**
!Dockerfile
!.dockerignore
!package.json
!package-lock.json
!pyproject.toml
!uv.lock
!client/**
!data/**
!yaml/**
!models/**
!filters/**
!tools/event-generator/**
!server/**
!shared/**
!scripts/**
!tests/**
!docs/licenses/**
!docs/*.md
!docs/reference/implementation/*.md
!docs/sorting-filtering/*.md
!docs/ui/legacy-target/*.png
!openbexi_timeline2.0_current_prompt.md
!docs/releases/**
!.github/workflows/**
!.run/**
!config/github-protection.json
!README.md
!LICENSE
!NOTICE
!playwright.config.mjs
!playwright.matrix.config.mjs
!playwright.demo.config.mjs
!playwright.reference.config.mjs
**/__pycache__/**
**/*.pyc
**/.env
**/*.log
**/node_modules/**
**/.venv/**
**/venv/**
**/.pytest_cache/**
**/.ruff_cache/**
**/.env.*
!**/.env.example
yaml/local/**
config/local/**
